<%# vim: set filetype=html: %>

<%- include('../../00header.ejs', {title: '事業内容 &raquo; 暗号通貨関連サービス'}) %>

<div class="page-header">
	<h1>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		事業内容 &raquo; 暗号通貨関連サービス
	</h1>
</div>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail" style="min-height:550px;">
			<img src="/img/services/coingift_logo.png" style="max-width:200px;" />
			<div class="caption">
				<h3><a href="https://coingift.jp/" data-newtab>コインギフト</a></h3>
				<p>Bitcoin や Monacoin 建てで様々なギフト券を購入することのできるウェブサービス。</p>
				<p>多くの EC サービスでありがちな面倒な会員登録作業などは一切なく、非常に簡単かつ瞬時に様々な暗号通貨・仮想通貨をギフト券に交換し、現実世界でお買い物ができる。</p>
				<p>コインギフトのバックエンドは<a href="http://www.slideshare.net/visvirial/ss-48736619" data-newtab>非常に軽量・セキュア・スケーラブルな設計</a>となっており、バックエンドを転用した EC サービスの新規立ち上げなども行っている。（詳細は<a href="/contact.html">お問い合わせ</a>ください）</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail" style="min-height:550px;">
			<img src="/img/services/cointip_logo.png" style="max-width:200px;" />
			<div class="caption">
				<h3><a href="https://cointip.jp/" data-newtab>CoinTip</a></h3>
				<p>Twitter 等の SNS を用いて誰でも簡単に Bitcoin をやり取りすることのできる投げ銭サービス。</p>
				<p>例えば Twitter アカウント <span style="color:#930">@janom_llc</span> 宛に 12.34mBTC のチップを行いたい場合には「<span style="color:#930">@cointip_jp</span> <span style="font-weight:bold;">tip</span> <span style="color:#930">@janom_llc</span> <span style="color:#33c">12.34</span>」といった非常にシンプルな命令をツイートするだけで送金が行えるのが特徴。</p>
				<p>（※ こちらのサービスは株式会社セレス[東証マザーズ 3696]様との共同開発・運営プロジェクトとなっております。）</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail" style="min-height:550px;">
			<img src="/img/services/monatr_logo.png" style="max-width:200px;" />
			<div class="caption">
				<h3><a href="https://monatr.jp/" data-newtab>もなとれ</a></h3>
				<p>Monacoin を中心とする、国内最古の暗号通貨交換所。</p>
				<p>2014年1月の Monacoin リリース後すぐに運営が開始され、その後の Mt.Gox 社の破綻により現存する国内取引所の中では最古の取引所となる。</p>
				<p>国内で開発された暗号通貨を多数取り扱っているのが特徴。</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail" style="min-height:550px;">
			<img src="/img/services/asicpool_screenshot.png" />
			<div class="caption">
				<h3><a href="https://asicpool.info/" data-newtab>ASICpool.info</a></h3>
				<p>Monacoin 専用の世界最大（2016年3月時点）マイニングプール。</p>
				<p>接続先サーバを日本・ヨーロッパ・アメリカと世界各地に分散させており、採掘機の場所に応じて最適な接続先を選択できるのが特徴。</p>
				<p>採掘能力に応じた接続先ポートを複数用意することで、クラウドマイニングサービスを利用した大採掘能力を持った採掘者にいち早く対応した。</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail" style="min-height:550px;">
			<img src="/img/services/anban_screenshot.png" style="max-width:200px;border-radius:20px;" />
			<div class="caption">
				<h3><a href="https://anban.info/" data-newtab>暗号通貨長者番付</a></h3>
				<p>国内暗号通貨（Monacoin、Kumacoin等）に特化した保有数ランキング掲載サイト。</p>
				<p>公開鍵暗号の仕組みを利用した、自己の保有するアドレスへのタグ付けなどの独創的な機能を採用している。</p>
				<p>独自にカスタマイズしたソフトウェアを利用して暗号通貨クライアントソフトの吐き出すデータファイルを解析・集計し、一日毎に自動的にランキングの更新を行っている。</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail" style="min-height:550px;">
			<img src="/img/services/crypto-users-logo-square.png" style="max-width:200px;" />
			<div class="caption">
				<h3>その他</h3>
				<p>弊社メンバは、Bitcoinコアクライアントの翻訳・暗号通貨ユーザ会（オープンソース系イベントへの参加を中心として活動中）の立ち上げ・Monacoin Foundation（Monacoin関連のイベント・勉強会・オフ会を運営）など、暗号通貨の普及活動を積極的に行っている。</p>
				<p>また、高機能かつデザイン性の高いブレインウォレット「<a href="https://offlinewallet.info/" data-newtab>OfflineWallet.info</a>」や、Monacoin および Bitcoin に対応したブロックエクスプローラ「<a href="http://chainsight.info/" data-newtab>chainsight.info</a>」など、他にも様々なサービスを展開している。</p>
			</div>
		</div>
	</div>
</div>

<%- include('../../99footer.ejs') %>

