<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {title: '会社概要'}) %>

<div class="page-header">
	<h1>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		会社概要
	</h1>
</div>
<table class="table table-bordered">
	<tr>
		<th>会社名</th>
		<td>合同会社ジャノム (Janom LLC)</td>
	</tr><tr>
		<th>代表 (CEO)</th>
		<td>
			日向 理彦 (ひゅうが まさひこ)<br/>
			[ <a href="https://www.facebook.com/hyugam" target="_blank">Facebook</a> | <a href="https://www.linkedin.com/in/masahiko-hyuga-2a51b2a5" target="_blank">LinkedIn</a> ]
		</td>
	</tr><tr>
		<th>設立</th>
		<td>2014年10月</td>
	</tr><tr>
		<th>本店登記地</th>
		<td>
			<p>
				〒113-0033<br />
				東京都文京区本郷3–38–1 本郷信徳ビル7階
			</p>
		</td>
	</tr><tr>
		<th>事業内容</th>
		<td>
			<ul>
				<li>暗号通貨(Bitcoin)・仮想通貨・ブロックチェインに関連した自社サービス開発運営、コンサルティング</li>
				<li>システム開発・ウェブ製作</li>
			</ul>
		</td>
	</tr>
</table>

<%- include('../99footer.ejs') %>

