<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {title: '会社概要'}) %>

<div class="page-header">
	<h1>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		会社概要
	</h1>
</div>
<table class="table table-bordered">
	<tr>
		<th>会社名</th>
		<td>合同会社ジャノム (Janom LLC)</td>
	</tr><tr>
		<th>代表 (CEO)</th>
		<td>
			日向 理彦 (ひゅうが まさひこ)<br/>
			[ <a href="https://www.facebook.com/hyugam" target="_blank">Facebook</a> | <a href="https://www.linkedin.com/in/masahiko-hyuga-2a51b2a5" target="_blank">LinkedIn</a> ]
		</td>
	</tr><tr>
		<th>設立</th>
		<td>2014年10月</td>
	</tr><tr>
		<th>本社所在地</th>
		<td>
			<p>
				〒113-0001<br />
				東京都文京区白山1-31-9<br />
				小林ビル 5階
			</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12957.387301160456!2d139.7363687460805!3d35.71768797000214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188db59c84915b%3A0xf463050751a625bc!2z44CSMTEzLTAwMDEg5p2x5Lqs6YO95paH5Lqs5Yy655m95bGx77yR5LiB55uu77yT77yRIOWwj-ael-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1500850460816" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			<p>交通アクセス</p>
			<ul>
				<li>白山駅（都営三田線）より徒歩約2分</li>
			</ul>
			<p>
				白山駅A1出口から地上にあがり、道路を右手へ進んだところにある、セブンイレブンとファミリーマートに挟まれている横断歩道を渡ってください。<br />
				そのまま右手方向にある大通り方向へお進みいただき、商店街との分かれ道の角にある建物を目指してください。<br />
				「アパマンショップ」「酒処 じゃっかす」といった看板が目印となります。<br />
				アパマンショップ横のエレベータより5階にお上がりいただき、インターホンを押してください。
			</p>
		</td>
	</tr><tr>
		<th>事業内容</th>
		<td>
			<ul>
				<li>暗号通貨(Bitcoin)・仮想通貨・ブロックチェインに関連した自社サービス開発運営、コンサルティング</li>
				<li>システム開発・ウェブ製作</li>
			</ul>
		</td>
	</tr>
</table>

<%- include('../99footer.ejs') %>

