<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {title: '会社概要'}) %>

<div class="page-header">
	<h1>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		会社概要
	</h1>
</div>
<table class="table table-bordered">
	<tr>
		<th>会社名</th>
		<td>合同会社ジャノム (Janom LLC)</td>
	</tr><tr>
		<th>代表 (CEO)</th>
		<td>
			日向 理彦 (ひゅうが まさひこ)<br/>
			[ <a href="https://www.facebook.com/hyugam" target="_blank">Facebook</a> | <a href="https://www.linkedin.com/in/masahiko-hyuga-2a51b2a5" target="_blank">LinkedIn</a> ]
		</td>
	</tr><tr>
		<th>設立</th>
		<td>2014年10月</td>
	</tr><tr>
		<th>本社所在地</th>
		<td>
			<div>
				〒112-0003<br />
				東京都文京区春日2-20-1<br />
				Dクレスト 3-B
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5608.0588447210575!2d139.74281348313156!3d35.7104023771002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c4dcc8f4541%3A0xa3380a7cdeeeee72!2z5ZCI5ZCM5Lya56S-44K444Oj44OO44Og!5e0!3m2!1sja!2sjp!4v1469774417984" width="600" height="450" frameborder="0" style="border:0;margin:30px 0px;" allowfullscreen></iframe>
			<p>交通アクセス</p>
			<ul>
				<li>後楽園駅（丸ノ内線・南北線）より徒歩約10分</li>
				<li>春日駅（三田線・大江戸線）より徒歩約10分</li>
				<li>茗荷谷駅（丸ノ内線）より徒歩約10分</li>
			</ul>
			<p>後楽園駅または春日駅からお越しの方は、中央大学方面の上り坂をまっすぐお進みください。</p>
			<p>茗荷谷駅からお越しの方は、駅を出て右手にまっすぐお進みください。</p>
			<p>セブンイレブン向かいの、自販機が並んでいる路地へお入りいただき突き当り右手の建物になります。</p>
		</td>
	</tr><tr>
		<th>本店登記地</th>
		<td>
			<p><img src="img/company_address.png" alt="本店登記地" style="height:5.5ex;" /></p>
			<p>※こちらは打ち合わせ等の行えるスペースはありませんので、ご用のある方は上記「本社所在地」までお越しください</p>
		</td>
	</tr><tr>
		<th>事業内容</th>
		<td>
			<ul>
				<li>暗号通貨(Bitcoin)・仮想通貨・ブロックチェインに関連した自社サービス開発運営、コンサルティング</li>
				<li>システム開発・ウェブ製作</li>
			</ul>
		</td>
	</tr>
</table>

<%- include('../99footer.ejs') %>

