<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {title: '会社概要'}) %>

<div class="page-header">
	<h1>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		会社概要
	</h1>
</div>
<table class="table table-bordered">
	<tr>
		<th>会社名</th>
		<td>合同会社ジャノム (Janom LLC)</td>
	</tr><tr>
		<th>代表 (CEO)</th>
		<td>
			日向 理彦 (ひゅうが まさひこ)<br/>
			[ <a href="https://www.facebook.com/hyugam" target="_blank">Facebook</a> | <a href="https://www.linkedin.com/in/masahiko-hyuga-2a51b2a5" target="_blank">LinkedIn</a> ]
		</td>
	</tr><tr>
		<th>設立</th>
		<td>2014年10月</td>
	</tr><tr>
		<th>本社所在地</th>
		<td>
			<p>
				〒113-8485<br />
				東京都文京区本郷7-3-1<br />
				東京大学南研究棟 360号室
			</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2724.2589707309735!2d139.76357040930563!3d35.70879887997788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c24e483eb01%3A0x1819c83bc2c51778!2z44CSMTEzLTAwMzMg5p2x5Lqs6YO95paH5Lqs5Yy65pys6YO377yX5LiB55uu77yTIOWNl-eglOeptuajnw!5e0!3m2!1sja!2sjp!4v1543372833457" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			<p>交通アクセス</p>
			<ul>
				<li>本郷三丁目駅（丸ノ内線・都営大江戸線）より徒歩約8分</li>
				<li>根津駅（千代田線）より徒歩約11分</li>
			</ul>
			<p>
				東京大学の南端にある「龍岡門」より入構し、真っ直ぐ進んでください。<br />
				病院に併設されているタクシー乗り場があり、その手前のレンガ風の建物となります。<br />
				お越しの際は、玄関ゲートにて「360号室」宛にお呼び出しください。
			</p>
		</td>
	</tr><tr>
		<th>事業内容</th>
		<td>
			<ul>
				<li>暗号通貨(Bitcoin)・仮想通貨・ブロックチェインに関連した自社サービス開発運営、コンサルティング</li>
				<li>システム開発・ウェブ製作</li>
			</ul>
		</td>
	</tr>
</table>

<%- include('../99footer.ejs') %>

