<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {title: 'エラー'}) %>

<div class="page-header">
	<h1>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		エラー
	</h1>
</div>

<div class="text-center">
	<img src="/img/error_eyecatch.png" alt="エラー画面アイキャッチ画像" style="width:100%;max-width:400px;" />
</div>

<p>誠に申し訳ありませんが、何らかのエラーが発生したためページを表示することができません。</p>
<p>時間を置いてから再度お試しください。それでも改善しない場合には、大変お手数ではありますが、弊社まで<a href="/contact.html">お問い合わせ</a>いただきますようお願いいたします。</p>

<p class="text-center" style="margin-top:100px;">[ <a href="/"><span class="glyphicon glyphicon-home"></span> トップページへ</a> ]</p>

<%- include('../99footer.ejs') %>

