<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {fullTitle: '合同会社ジャノム | システム開発・ウェブ製作'}) %>

<div id="home-eyecatch">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-11"><h1><span>合同会社ジャノム</span></h1></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<ul>
				<li><div><span class="glyphicon glyphicon-bitcoin"></span> 暗号通貨関連事業の開発・運営</div></li>
				<li><div><span class="glyphicon glyphicon-cog"></span> 技術コンサルティング・研究開発</div></li>
				<li><div><span class="glyphicon glyphicon-phone"></span> その他システム受託開発</div></li>
			</ul>
		</div>
	</div>
</div>

<div class="page-header">
	<h2>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		お知らせ
	</h2>
</div>

<div class="row">
	<div class="col-md-8">
		<table id="news" class="table table-bordered">
			<caption>
				<p class="text-center">最近の活動</p>
			</caption>
			<tbody>
				<tr>
					<th>2016/12/01</th>
					<td>弊社代表の日向が「<a href="http://amzn.to/2ggmh9O" target="_blank">情報処理2016年12月号 (情報処理学会の学会誌)</a>」に技術解説記事「ビットコイン改善提案 最前線／マークル化抽象構文木」を寄稿しました</td>
				</tr>
				<tr>
					<th>2016/11/16</th>
					<td>Bitcoin 投げ銭サービス「<a href="https://cointip.jp/" target="_blank">CoinTip (コインチップ)</a>」をリリースしました。株式会社セレス(東証マザーズ 3696)様との共同開発・運営プロジェクトとなっております (<a href="http://v4.eir-parts.net/v4Contents/View.aspx?cat=tdnet&sid=1421099" target="_blank">セレス様発表資料 [PDF]</a>)</td>
				</tr>
				<tr>
					<th>2016/11/14</th>
					<td>弊社代表の日向が「<a href="http://amzn.to/2ggkcL7" target="_blank">この1冊でまるごとわかる　ブロックチェーン＆ビットコイン (日経BP)</a>」に技術解説記事「注目キーワード解説／マルチシグネチャ」を寄稿しました</td>
				</tr>
				<tr>
					<th>2016/10/01</th>
					<td>株式会社オウケイウェイヴ (名証セントレックス 3808) 様に対し Bitcoin の技術教育プログラム「ブロックチェーン大学校」のカリキュラムを実施しました。2016年10月〜11月にかけて毎週行う全8回の講義となります (<a href="http://www.okwave.co.jp/press/20160929/">オウケイウェイヴ様発表資料</a>)</td>
				</tr>
				<tr>
					<th>2016/07/25</th>
					<td>ビットコインハードウェアウォレットの米KeepKey社と提携し、日本国内での独占販売権を取得しました。またコインギフトにて販売を開始しました (<a href="https://coingift.jp/invoices/create/57908787-e2ec-4e55-905d-04f16c3db725" target="_blank">商品案内ページ</a>／<a href="/pdf/releases/20160725_keepkey_exclusive_reseller.pdf" target="_blank">報道関係者向け資料 [PDF]</a>)</td>
				</tr>
				<tr>
					<th>2016/06/06</th>
					<td>株式会社セレス(東証マザーズ 3696)様との業務提携を行いました (<a href="https://t.co/vOQuUHfSo7" target="_blank">セレス様発表資料 [PDF]</a>)</td>
				</tr>
				<tr>
					<th>2016/03/08</th>
					<td>事業内容ページを作成</td>
				</tr>
				<tr>
					<th>2014/11/01</th>
					<td>ウェブページ公開</td>
				</tr>
				<tr>
					<th>2014/10/06</th>
					<td>会社設立</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<a class="twitter-timeline" data-lang="ja" data-theme="light" href="https://twitter.com/janom_llc" height="600">Tweets by janom_llc</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>


<%- include('../99footer.ejs') %>

