<%# vim: set filetype=html: %>
		<footer>
			<div class="container">
				<p>Copyright &copy; Janom LLC 2014-2016. All rights reserved.</p>
				<p style="font-size:70%;">version: __GIT_COMMIT_HASH__</p>
			</div>
		</footer>
		
	</body>
</html>

