<%# vim: set filetype=html: %>

<!DOCTYPE html>
<html>
	<head>
		
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="keyword" content="IT,computer,system,program,web" />
		<meta name="description" content="合同会社ジャノム|システム開発・ウェブ製作" />
		<meta name="author" content="合同会社ジャノム" />
		
		<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
		
		<!-- Load CSS. -->
		<link rel="stylesheet" href="/css/bundle.min.css" />
		
		<!-- Load JavaScript library. -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		
		<!-- Load Bootstrap. -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<!-- Twitter card -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@janom_llc" />
		<meta name="twitter:title" content="合同会社ジャノム｜暗号通貨ベンチャー・システム製作" />
		<meta name="twitter:description" content="「合同会社ジャノム」は暗号通貨（ビットコイン）・ブロックチェーン技術ベンチャーです。業界屈指の高度な基礎技術をもとに高信頼のウェブシステムを開発・運営しています" />
		<meta name="twitter:image" content="/img/logo.png" />
		
		<script type="text/javascript">
			// Fot open-in-a-new-tab.
			$(document).ready(function() {
				$('a[data-newtab]').prepend('<span class="glyphicon glyphicon-new-window" style="font-size:80%;"></span> ');
				$('a[data-newtab]').attr('target', '_blank');
			});
		</script>
		
		<title>
			<% if(typeof fullTitle != 'undefined') { %>
				<%- fullTitle %>
			<% } else { %>
				<%- locals.title %> | 合同会社ジャノム
			<% } %>
		</title>
		
	</head>
	<body>
		
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						<img src="/img/logo+text.png" alt="logo" style="height:25px;" />
					</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-menu">
					<ul class="nav navbar-nav">
						<li class=""><a href="/about.html"><span class="glyphicon glyphicon-scale"></span> 会社概要</a></li>
						<li class="dropdown">
							<a href="#services" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-pushpin"></span> 事業内容 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/services/cryptocurrency.html">暗号通貨関連サービス</a></li>
								<li><a href="/services/consulting.html">ソリューション／コンサルティング</a></li>
							</ul>
						</li>
						<li class=""><a href="/members.html"><span class="glyphicon glyphicon-user"></span> メンバー紹介</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/contact.html"><span class="glyphicon glyphicon-envelope"></span> お問い合わせ</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		
		<div class="container">

