<%# vim: set filetype=html: %>
		
		</div>
		
		<footer>
			<div class="container">
				<p>Copyright &copy; Janom LLC 2014-<%= new Date().getFullYear() %>. All rights reserved.</p>
				<p style="font-size:70%;">version: __GIT_COMMIT_HASH__</p>
			</div>
		</footer>
		
	</body>
</html>

